<div class="small-4 small-offset-4 columns">
  <h1>My Invites</h1>

  <table>
    <tr>
      <th>Family</th>
      <th>Status</th>
      <th>Respond</th>
    </tr>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.family.surname %></td>
        <td><%= invite.status %></td>
        <td width="125">
          <% if invite.status == "pending" %>
            <%= link_to "Accept", user_invitee_path(current_user, invite), method: :patch %> |
            <%= link_to "Decline", user_invitee_path(current_user, invite), method: :delete, data: {confirm: "Are you sure?" } %>
          <% else %>
            &#10003;
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
