<h1>My Invites</h1>

<ul>
  <% @invites.each do |invite| %>
    <li>
      <%= invite.family.surname %> | <%= invite.status %> |
      <% if invite.status == "pending" %>
        <%= link_to "Accept", user_invitee_path(current_user, invite), method: "PATCH" %> | <%= link_to "Decline", user_invitee_path(current_user, invite), method: "DELETE" %>
      <% end %>
    </li>
  <% end %>
</ul>
