<h1>Your Families</h1>

<ul>
  <% current_user.families.each do |fam| %>
    <li>
      <%= link_to fam.surname, family_path(fam) %>
    </li>
    <% if current_user.admin_of?(fam) %>
      <ul>
        <li>
          <%= link_to "Manage", family_invitees_path(fam) %>
        </li>
        <li>
          <%= link_to "Edit", edit_family_path(fam) %>
        </li>
        <li>
          <%= link_to "Delete", family_path(fam), method: :delete, data: {confirm: "Are you sure?" } %>
        </li>
      </ul>
    <% end %>
  <% end %>
</ul>
