<h1>Your Families</h1>

<ul>
  <% current_user.families.each do |fam| %>
    <li>
      <%= link_to fam.surname, family_path(fam) %>
    </li>
    <% if current_user.admin_of?(fam) %>
       | <%= link_to "Manage Invites", family_invitees_path(fam) %>
    <% end %>
  <% end %>
</ul>
