<h1>Your Families</h1>

<ul>
  <% current_user.families.each do |fam| %>
    <li>
      <%= link_to fam.surname, family_path(fam) %>
    </li>
    <% if current_user.admin_of?(fam) %>
      <ul>
        <li>
          <%= link_to "Manage Invites for #{fam.surname} Family", family_invitees_path(fam) %>
        </li>
        <li>
          <%= link_to "Edit #{fam.surname} Family", edit_family_path(fam) %>
        </li>
        <li>
          <%= link_to "Delete #{fam.surname} Family", family_path(fam), method: "DELETE" %>
        </li>
      </ul>
    <% end %>
  <% end %>
</ul>
