<div class="small-4 small-offset-4 columns">
  <h1>Create Family</h1>

  <%= simple_form_for @family do |f| %>

    <%= f.input :surname %>

    <%= f.button :submit, class: "button small radius right" %>

  <% end %>
</div>
