<div class="photo nested-fields">
  <%= f.input :url, as: :file, required: false, label: false%>
  <%= f.input :title, label: false, placeholder: 'Picture Title' %>
  <%= link_to_remove_association 'Remove', f %>
</div>
